*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0px;
	padding: 0px;
}
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Trebuchet MS", Ubuntu, "times new roman", times, serif;
	font-size: 14px;
 	/*margin: 0 0 100px;*/
 	padding-bottom: 75px;
	background-color: #1E90FF;
}

#mainContent {
	height:auto !important;
  min-height:100%;
}

a {
	text-decoration: none;
}

#logo img {
	height: 50px;
	width: auto;
	float: left;
	margin-left: 1%;
}

#mainNav {
	font: normal 16px/20px "Varela Round", sans-serif;
	background-color: #292929;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 51px;
	
	font: bold 16px "Varela Round", sans-serif;

	-moz-box-shadow: 0px 2px 1px #ddd;
	-webkit-box-shadow: 0px 2px 1px #ddd;
	box-shadow: 0px 2px 1px #ddd;
}

#mainNav ul {
	display: none;
	width: 100%;
}

#mainNav ul li {
	display: inline-block;
	width: 25%;
	float: left;
	height: 50px;
	background-color: #2C2C2C;
	text-align: center;
	line-height: 50px;
	padding: 0px 0px;
}

#mainNav li a {
	display: inline-block;
	width: 100%;
}

#mainNav a, #mainNav a:visited {
  color: #fff;
}

#mainNav a:hover, #mainNav a:target {
  color: #E30000;
}

.but_menu {
	float: right;
	width: 40%;
	text-align: center;
	line-height: 50px;
}

#menu {
	width: 100%;
}

#show {
	display: inline-block;
}

#hider {
	display: none;
}

#menu:target #show{
	display: none;
}

#menu:target #hider, #menu:target ul{
	display: inline-block;
}

#mainFooter {
	font: normal 16px/20px "Varela Round", sans-serif;
	background-color: #292929;
	color: #fff;
		
	font: normal 12px "Varela Round", sans-serif;
	text-align: center;

	-moz-box-shadow: 0px -2px 1px #ddd;
	-webkit-box-shadow: 0px -2px 1px #ddd;
	box-shadow: 0px -2px 1px #ddd;

  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  overflow:hidden;
}

#mainFooter a {
	color: #fff;
	font-style: italic;
	font-weight: bold;
}


@media only screen and (min-width: 925px) {
	body {
		margin: 0 auto;
	}

	#show, #hider {
		display: none;
	}

	.but_menu {
		display: none;
	}

	#logo {
		width: 10%;
	}
	
	#logo img {
		margin: 0;
	}

	#menu {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}

	#mainNav ul {
		display: inline-block;
		width: 90%;
	}

	#mainNav ul li{
		width: 100px;
		height: 50px;
		line-height: 50px;
		background-color: #292929;
	}

	#mainNav ul li a {
		width: auto;
	}

	#menu:target #hider, #menu:target #show {
		display: none;
	}
}