#main-content {
	margin-top: 50px;
	display: inline-block;
}

ul {
	list-style: none;
}

.section {
	margin: 20px auto;
	display: inline-block;
	width: 100%;
}

.section h1 {
	text-align: center;
	color: #FFF;
	font-weight: lighter;
}

.section ul li {
	color: #292929;
	display: inline-block;
	background-color: #FFFAF0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	text-align: justify;
	margin: 10px 4%;
	width: 40%;
	min-height: 100px;
}

.section li h3 {
	text-align: center;
	float: left;
}


#tecnoLista li img {
	width: 60px;
	height: auto;
	display: block;
	float: left;
	margin: 0 10px;
}

#tecnoLista li p {
	padding: 10px;
	display: none;
}

@media only screen and (min-width: 650px) {
	.section ul {
		margin: 0 5%;
	}

	.section li h3 {
		float: none;
	}

	.section ul li {
		width: 45%;
		margin: 10px 2.5%;
		float: left;
	}
}

@media only screen and (min-width: 1000px) {
	.section ul li {
		width: 30%;
		margin: 10px 1.6%;
	}
}

@media only screen and (min-width: 1200px) {
	.section ul li {
		width: 21%;
		margin: 10px 2%; 
	}
}